@import url('https://fonts.googleapis.com/css?family=Cousine');
body {
  background: rgb(147, 53, 255);
}

.container {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
}


/* .analog_container {
  margin: auto;
  position: absolute;
  top: 0; bottom: 0;
  left: 100px; right: 0;
  width: 200px; height: 200px;
}

.mid-line {
  position: absolute;
  top: 140px; left: 730px;
  width: 0; height: 300px;
  border: 1px dashed #EC7357;
} */

.clock {
  position: absolute;
}

.analog {
  z-index: 1;
  position: absolute;
  width: 215px;
  height: 215px;
  background: rgb(147, 53, 255);
  border: 11px solid rgb(255, 255, 255);
  border-radius: 100%;
}

.mid {
  z-index: 1;
  position: absolute;
  top: 117px;
  left: 114px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
}

.hour {
  z-index: 1;
  position: absolute;
  left: 118px;
  top: 123px;
  background: rgb(255, 255, 255);
  width: 5px;
  height: 70px;
  transform-origin: top;
}

.minute {
  z-index: 5;
  position: absolute;
  left: 115px;
  top: 123px;
  background: rgb(255, 255, 255);
  width: 5px;
  height: 85px;
  transform-origin: top;
}

.second {
  z-index: 1;
  position: absolute;
  left: 120px;
  top: 120px;
  background: rgb(255, 255, 255);
  width: 3px;
  height: 80px;
  border-radius: 0%;
  transform-origin: top;
}
